h1 Domiciliarios

    each domiciliario in domiciliarios
        h2= domiciliario.nombre_Domiciliario
        p= domiciliario.disponible 
        p= domiciliario.activo

    p= JSON.stringify(domiciliarios)

h2 Agregar Domiciliario
    form(action="/domiciliarios", method="POST")
        input(type="text", name="nombre_Domiciliario", placeholder="Nombre domiciliario")
        input(type="text", name="disponible", placeholder="Esta disponible")
        input(type="text", name="activo", placeholder="Esta activo")
        input(type="submit")