h1 Platos 

    each plato in platos 
        h2= plato.nombre_plato
        p= plato.descripcion
        p 
            | #{plato.precio} $

    p= JSON.stringify(platos)

h2 Agregar Plato
    form(action="/platos", method="POST")
        input(type="text", name="nombre_plato", placeholder="Nombre plato")
        input(type="text", name="descripcion", placeholder="Descripcion plato")
        input(type="number", name="precio", placeholder="Precio plato")
        input(type="submit")

